Test/Service References/ServicioSalesOrder/WS_SalesOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.praxair.com.co/SalesOrder" elementFormDefault="qualified" targetNamespace="http://www.praxair.com.co/SalesOrder" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetSalesOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InterfaceStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Confirmation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mcu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="legacyConsecutive" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="legacyPrefix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dcto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="interfaceStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmationResult" nillable="true" type="tns:ArrayOfclsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfclsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsResponse" nillable="true" type="tns:clsResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsResponse" nillable="true" type="tns:ArrayOfclsResponse" />
  <xs:complexType name="clsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsResponse" nillable="true" type="tns:clsResponse" />
  <xs:element name="InternalException" nillable="true" type="tns:clsResponse" />
</xs:schema>