Backup/Backup/WCF_SalesOrder/Service References/ServicioLog/Utilities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.praxair.com.co" elementFormDefault="qualified" targetNamespace="http://www.praxair.com.co" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.104.0.31/Servicios/WS_CommonOperations/Utilities.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSCommonOperations.ErrorHandler" />
  <xs:element name="GetErrors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSCommonOperations.ErrorHandler" minOccurs="0" name="processId" type="q1:ProcessId" />
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetErrorsResult" nillable="true" type="tns:ArrayOfclsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfclsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsResponse" nillable="true" type="tns:clsResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsResponse" nillable="true" type="tns:ArrayOfclsResponse" />
  <xs:complexType name="clsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsResponse" nillable="true" type="tns:clsResponse" />
  <xs:element name="InsertError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staggingId" type="xs:int" />
        <xs:element minOccurs="0" name="errorId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WSCommonOperations.ErrorHandler" minOccurs="0" name="processId" type="q2:ProcessId" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertErrorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>